@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Machines:</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerID)
  @Html.DropDownList("MachineID", (SelectList)ViewBag.MachineID)

  <input type="submit" value="Remove" />
}

<p>@Html.ActionLink("Back to Engineers", "Index")</p>
