@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Engineers:</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineID)
  @Html.DropDownList("EngineerID", (SelectList)ViewBag.EngineerID)

  <input type="submit" value="Remove" />
}

<p>@Html.ActionLink("Back to Machines", "Index")</p>
