@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Sillystringz Factory of Fun!</h1>
<p>@Html.ActionLink("See all Engineers", "Index", "Engineer")</p>
<p>@Html.ActionLink("See all Machines", "Index", "Machine")</p>